* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: #1c1c1c no-repeat; /* decidere se tenere colore o immagine come background */
    background-size: cover;
    background-position: center;
}

.home, 
.playlist {
    position: fixed;
    width: 100%;
    padding: 20px 90px;
    background: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.nome {
    font-size: 30px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.logo-container  {
    display: flex;
    align-items: center;
    
}

.logo-container img {
    width: auto;
    height: 50px;
    
}

.navbar a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

#search-form {
    display: flex;
    width: 600px;
    border: 1px solid #fff;
    border-radius: 20px;
    overflow: hidden;
}

#search-form input {
    width: 100%;
    padding: 15px 30px;
    background: #fff;
    border: none;
    font-size: 15px;
    display: flex;
    color: #333;
}

#search-form button{
    padding: 10px 20px;
    background: #fff;
    border: none;
    font-size: 16px;
    color: #333;
    cursor: pointer;
}

.icon {
    font-size: 24px;
    color: #333;
    display: flex;
}

.info {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    height: 40vh;
    color:#fff
}