.section-title {
    color: #50fa7b;
    margin-bottom: 20px;
    border-bottom: 2px solid #44475a;
    padding-bottom: 10px;
}

.playlist-card {
    background-color: #2a2a4a;
    border: 1px solid #444;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    color: #fff;
}

.playlist-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.playlist-title {
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
    color: #fff;
    transition: color 0.3s ease;
}

.playlist-title:hover {
    color: #e286f5;
}

.playlist-card h4 {
    margin-bottom: 10px;
    color: #bd93f9;
}

.playlist-card .btn {
    margin-right: 10px;
}

.playlist-details-modal {
    background-color: #d9c0fb !important;
    color: #0a0a0a;
    border: 3px solid #5a3f80 !important;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.btn-create-playlist {
    margin-bottom: 40px;
    /* Spazio dal fondo */
}

#editPlaylistForm,#addTrackForm, #newPlaylistForm {
    background-color: #d9c0fb !important;
    color: #0a0a0a;
    border: 3px solid #5a3f80 !important;
    border-radius: 10px;
}

.btn-transparent {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 1.4rem;
    padding: 4px;
    cursor: pointer;
}

.btn-transparent:hover {
    color: #e286f5;
    background-color: #44475a;
    border-radius: 50%;
}